{% extends 'base.html' %}

{% block content %}
<h2>Your Profile</h2>

<div class="card p-4 shadow">
    <p><strong>Username:</strong> {{ request.user.username }}</p>
    <p><strong>Sport Group:</strong> {{ profile.sport_group }}</p>
    <p><strong>Event:</strong> {{ profile.sport_event }}</p>
    <p><strong>Age:</strong> {{ profile.age }}</p>
    <p><strong>Height:</strong> {{ profile.height_cm }} cm</p>
    <p><strong>Weight:</strong> {{ profile.weight_kg }} kg</p>
    <p><strong>BMI:</strong> {{ profile.bmi }}</p>
    <p><strong>Experience:</strong> {{ profile.experience_level }}</p>
    <p><strong>Training Goal:</strong> {{ profile.training_goal }}</p>

    <a href="{% url 'edit_profile' %}" class="btn btn-primary mt-3">Edit Profile</a>
</div>

{% endblock %}
